<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="TrelloTestsChrome">
    <parameter name="browser" value="Chrome" />
    <test name="TestLogin">
        <classes>
            <class name="testPackage.tests.Login"/>
        </classes>
    </test>
</suite>